/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #3D3D3D #585D6C;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
	height: 8px;
	width: 8px;
  }
  *::-webkit-scrollbar-track {
	border-radius: 4px;
	background-color: #585D6C;
  }
  
  *::-webkit-scrollbar-track:hover {
	background-color: #585D6C;
  }
  
  *::-webkit-scrollbar-track:active {
	background-color: #585D6C;
  }
  
  *::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #3D3D3D;
  }
  
  *::-webkit-scrollbar-thumb:hover {
	background-color: #505050;
  }
  
  *::-webkit-scrollbar-thumb:active {
	background-color: #505050;
  }
  
body{
	background: url(./bgFrame.png);
	background-blend-mode: luminosity;
}

.fadein-transition {
  animation: fadeIn ease-in 1s forwards;
}

.fadeout-transition {
  animation: fadeOut ease 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(42px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(42px);
  }
}
.poppins{
  font-family: 'Poppins', sans-serif;
}
.plex{
  font-family: 'IBM Plex Mono', monospace;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--mainColor: #000;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header {
	display: flex;
  align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav a {
	margin: -4px 1rem;
	color: var(--textColor);
	text-decoration: none;
}


header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #f6bd2e;
	visibility: hidden;
	opacity: 0;
	font-size: 10px rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}
nav{
	justify-content: space-around;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100vh;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 1.2 rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(20vh);
    position: relative;
    height: 45vh;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 20;
    background-color: #000;
	
    opacity: 0.8;
    padding: 20px;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 2vh;
    margin: 3px;
	}
}

 .moveOut-transition1{
	animation: moveOut ease 300ms forwards;
}
@keyframes moveOut {
	from{
		opacity: 0;
		transform: translateX(-40px);
	}
	to{
		opacity: 1;
		transform: translateX(0);
	}
}


@keyframes border-radius-animation {
	0% {
		border-radius: 30px;
	}
  
	10% {
		border-radius: 25% 10%;
	}
	30% {
		border-radius: 10% 30% 50% 70%;
	}
	50% {
		border-radius: 10% / 50%;
	}
	70% {
		border-radius: 10px 100px / 120px;
	}
  
	100% {
		border-radius: 30px;
	}
  }
  
  .animateBorder {
	border-radius: 0;
	animation: border-radius-animation 15s 200ms ease-in-out infinite;
  }

  .avatar-wobble {
	border-radius: 272px 776px 286px 787px / 792px 292px 775px 297px;
    animation: wobble 6s ease-in-out alternate infinite;
  }
  
  @keyframes wobble {
	50% {
	  border-radius: 750px 550px 350px 750px /
					 350px 750px 550px 450px;
	}
	100% {
	  border-radius: 750px 250px 750px 250px /
					 250px 750px 250px 750px;
	}
  }